{% extends "Template.twig" %}

{% block content %}
<div class="container">
    <ul class="breadcrumb">
        <li><a href="{{ path_for("home") }}">Accueil</a></li>
        <li><a href="#">Erreurs</a></li>
        <li class="active">404</li>
    </ul>
    <h1>Kariboo | <small>Erreur 404</small></h1>
    <span class="center">
        <p class="lead">La page que vous demamandez n'éxiste pas ou plus ! </p>
    </span>

    <div class="404">
        <img src="/img/stich.gif" width="100%" alt="">
    </div>
</div>
{% endblock %}