{% extends 'Template.twig' %}

{% block content %}

    <div class="w-section" style="margin-top: 125px !important;">
    <div class="featured-blocks">
        <div class="w-dyn-list block-1">
            <div class="w-dyn-items w-clearfix">
                <div class="w-dyn-item">
                    <div class="feature-image-wrapper"
                         style="background-image: url('/uploads/4VGkeQN2L1R37XiW2rtI.jpg');">
                        <a class="w-inline-block featured-block-link" href="#">
                            <div class="pattern"></div>
                            <div data-ix="gradient-fade" class="category-gradient"
                                 style="background-image: url('/img/electronique.png');"></div>
                            <div class="tile-content-wrap"><h2 class="large-feature-title">Title</h2>
                                <div class="block-date">Il y a deux ans</div>
                            </div>
                        </a>
                        <div class="featured-post-category-label" style="background-color: #000;"><a
                                class="category-label-link" href="#">Electronique</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-dyn-list block-2">
            <div class="w-dyn-items w-clearfix">
                <div class="w-dyn-item">
                    <div class="feature-image-wrapper"
                         style="background-image: url('/uploads/4VGkeQN2L1R37XiW2rtI.jpg');">
                        <a class="w-inline-block featured-block-link" href="#">
                            <div class="pattern"></div>
                            <div data-ix="gradient-fade" class="category-gradient"
                                 style="background-image: url('/img/informatique.png');"></div>
                            <div class="tile-content-wrap"><h2 class="large-feature-title">Title</h2>
                                <div class="block-date">Il y a deux ans</div>
                            </div>
                        </a>
                        <div class="featured-post-category-label" style="background-color: #000;"><a
                                class="category-label-link" href="#">Elect</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-dyn-list block-3">
            <div class="w-dyn-items w-clearfix">
                <div class="w-dyn-item">
                    <div class="feature-image-wrapper"
                         style="background-image: url('/uploads/4VGkeQN2L1R37XiW2rtI.jpg');">
                        <a class="w-inline-block featured-block-link" href="#">
                            <div class="pattern"></div>
                            <div data-ix="gradient-fade" class="category-gradient"
                                 style="background-image: url('/img/informatique.png');"></div>
                            <div class="tile-content-wrap"><h2 class="large-feature-title">Title</h2>
                                <div class="block-date">Il y a deux ans</div>
                            </div>
                        </a>
                        <div class="featured-post-category-label" style="background-color: #000;"><a
                                class="category-label-link" href="#">Elect</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-dyn-list block-4">
            <div class="w-dyn-items w-clearfix">
                <div class="w-dyn-item">
                    <div class="feature-image-wrapper"
                         style="background-image: url('/uploads/4VGkeQN2L1R37XiW2rtI.jpg');">
                        <a class="w-inline-block featured-block-link" href="#">
                            <div class="pattern"></div>
                            <div data-ix="gradient-fade" class="category-gradient"
                                 style="background-image: url('/img/informatique.png');"></div>
                            <div class="tile-content-wrap"><h2 class="large-feature-title">Title</h2>
                                <div class="block-date">Il y a deux ans</div>
                            </div>
                        </a>
                        <div class="featured-post-category-label" style="background-color: #000;"><a
                                class="category-label-link" href="#">Elect</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="w-clearfix main-content-wrapper">
        <div class="main-content-column"><h2 class="section-heading">Contenu récent</h2>
            <div class="w-dyn-list">
                <div class="w-dyn-items">
                    <div class="w-dyn-item">
                        <div class="large-entry">
                            <div class="image-wrapper"
                                 style="background-image: url('/uploads/4VGkeQN2L1R37XiW2rtI.jpg');">
                                <a class="w-inline-block featured-block-link" href="#">
                                    <div class="pattern"></div>
                                    <div data-ix="gradient-fade" class="category-gradient"
                                         style="background-image: url('/img/electronique.png');"></div>
                                    <div class="tile-content-wrap"><h2 class="large-feature-title">Titre</h2>
                                        <div class="block-date">Il y a deux ans</div>
                                    </div>
                                </a>
                                <div class="category-label-small" style="background-color: <?= $articles[2]->ticket; ?>;"><a
                                        class="category-label-link" href="#">Electronique</a></div>
                            </div>
                            <div class="excerpt large-excerpt">
                                <div>3 years ago</div>
                                <a class="w-inline-block grid-link"
                                   href="#"><h3>Titre</h3></a>
                                <p>
                                    Lorem ipsum dolor sit asmet.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-dyn-list flexy" style="width: 100%;">
                <div class="w-dyn-items flexy">
                    <div class="w-dyn-item w-clearfix half-width">
                        <div class="w-clearfix">
                            <div class="image-wrapper small-entry"
                                 style="background-image: url('/uploads/4VGkeQN2L1R37XiW2rtI.jpg');">
                                <a class="w-inline-block featured-block-link"
                                   href="#">
                                    <div class="pattern"></div>
                                    <div data-ix="gradient-fade" class="category-gradient"
                                 style="background-image: url('/img/informatique.png');"></div>
                                </a>
                                <div class="category-label-small" style="background-color: blue;">
                                    <a class="category-label-link" href="#">informatique</a>
                                </div>
                            </div>
                            <div>
                                <div>2 years ago</div>
                                <a class="w-inline-block grid-link"
                                   href="#">
                                    <h4 class="half-width-h4">Titre</h4></a>
                                <p>
                                    Lorem Ipsum dolor sit asmet !
                                    <br>
                                    <p class="center">Pour plus d'information cliquer sur le titre pour accéder à la formation !</p>
                                </p></div>
                        </div>
                    </div>
                    <div class="w-dyn-item w-clearfix half-width">
                        <div class="w-clearfix">
                            <div class="image-wrapper small-entry"
                                 style="background-image: url('/uploads/4VGkeQN2L1R37XiW2rtI.jpg');">
                                <a class="w-inline-block featured-block-link"
                                   href="#">
                                    <div class="pattern"></div>
                                    <div data-ix="gradient-fade" class="category-gradient"
                                 style="background-image: url('/img/electronique.png');"></div>
                                </a>
                                <div class="category-label-small" style="background-color: blue;">
                                    <a class="category-label-link" href="#">electronique</a>
                                </div>
                            </div>
                            <div>
                                <div>2 years ago</div>
                                <a class="w-inline-block grid-link"
                                   href="#">
                                    <h4 class="half-width-h4">Titre</h4></a>
                                <p>
                                    Lorem Ipsum dolor sit asmet !
                                    <br>
                                    <p class="center">Pour plus d'information cliquer sur le titre pour accéder à la formation !</p>
                                </p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sidebar"><h2 class="section-heading">Twitter</h2>
            <div class="reviews-container">
                <div class="w-dyn-list">
                    <div class="w-dyn-items">
                        <?= $Main::lastTweet(); ?>
                    </div>
                </div>
                <div><a href="//twitter.com/EG__Julien" class="standard-link reviews-link">Voir tous mes tweets</a></div>
            </div>
        </div>
    </div>
</div>

{% endblock %}